[submodule "cmake"]
	path = cmake
	url = https://github.com/enree/cmake.git
[submodule "modules/gqtest"]
	path = modules/gqtest
	url = https://github.com/enree/gqtest.git
[submodule "modules/appkit"]
	path = modules/appkit
	url = https://github.com/enree/appkit.git
[submodule "modules/gsl"]
	path = modules/gsl
	url = https://github.com/enree/gsl.git
