[submodule "build"]
	path = build
	url = ssh://yurib@gerrit.dev.pkb-rio.com:29418/build
[submodule "modules/coriolis"]
	path = modules/coriolis
	url = ssh://yurib@gerrit.dev.pkb-rio.com:29418/coriolis
[submodule "cmake"]
	path = cmake
	url = git@github.com:enree/cmake.git
[submodule "modules/gqtest"]
	path = modules/gqtest
	url = git@github.com:enree/gqtest.git
